body {
	min-width:300px;
}

#post-login {
	margin-bottom:5%;
}

#new-credentials, #master-password, #set-master-password, #error-messages {
	display : none;
}

#master-password, #new-credentials {
	margin-bottom:2%;
}