.panel 
{
	margin-top:50%;
}
#auth-no
{
	color:#ff0000;
}
#auth-yes
{
	color:#7FFF00;
}
.mid-header
{
	text-align:center;
}

#error-messages, #success-messages, #data-table, #change-masterpassword, #general-settings, #auth-yes, #unlocked
{
	display: none;
}
