html, body
{
	height: 100%;
}

.panel
{
	margin-top:40%;
}

#auth-no
{
	color:#ff0000;
}
#auth-yes
{
	color:#7FFF00;
}
.mid-header
{
	text-align:center;
}

#data-table, #change-masterpassword, #general-settings, #auth-yes, #unlocked, #backup
{
	display: none;
}

#error-messages, #success-messages
{
	position: absolute;
	top:6%;
	width:100%;
	visibility: hidden;
}

.vertical-center {
  top: 10%;
  position: absolute;
  width: 100%;
  padding-left:5%;
  padding-right:5%;
}
